streamlit
python-dotenv
setuptools
crewai==0.80.0
crewai-tools
google-genai
google-generativeai
langchain
langchain-core
langchain-community
langchain-google-genai
pydantic
pydantic-settings
tiktoken
pypdf
chromadb
pysqlite3-binary
fastapi
uvicorn
python-multipart