streamlit
python-dotenv
crewai==0.80.0
crewai-tools==0.17.0
google-genai
google-generativeai
langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24
langchain-google-genai==2.1.4
pydantic==2.10.6
pydantic-settings==2.7.1
tiktoken
pypdf
chromadb==0.5.23
pysqlite3-binary
fastapi
uvicorn
python-multipart